<div class="container">
  <div class="col-lg-1">

  </div>
  <div class="col-lg-10">
    <h2 class="text-center" style="color: #903564">Current Job Openings</h2>
    <hr>
    <div class="panel-group" id="accordion" *ngFor="let job of jobList;let i=index">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#cl{{i}}">
              <h4> {{job.name}}&nbsp;
                <span class="fa fa-caret-down"></span>
              </h4>
            </a>
          </h4>
        </div>
        <div id="cl{{i}}" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">
                <thead>  
                  <tr>
                    <th>Sr No.</th>
                    <th>Job Title</th>
                    <th>Qualification Required</th>
                    <th>Skills Required</th>
                    <th>Required Experience</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let j of job.jobs;let k=index">
                    <td>{{k+1}}</td>
                    <td>{{j.jobTitle}}</td>
                    <td>{{j.qualification}}</td>
                    <td>{{j.skills}}</td>
                    <td>{{j.experience}}</td>
                    <td>
                      <div *ngIf="job.name=='Campus Placements'">
                      <a [routerLink]="['/applyplacement',j.jobTitle]"><button type="button" class="btn btn-primary">Apply</button></a>
                    </div>
                    <div *ngIf="!(job.name==='Campus Placements')">
                        <a [routerLink]="['/apply',j.jobTitle]"><button type="button" class="btn btn-primary">Apply</button></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>